*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.date{
    margin-top: 5px;
}
.time{
    margin-top: 5px
}
.btn{
    display: inline-block;
    background: rgb(2, 2, 23);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
.btn:focus{
    outline: none;
}
.btn:active{
    transform: scale(0.98);
}
.btn-block{
    display: block;
    width: 100%;
}
.task{
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.task.reminder{
    border-left: 5px solid rgb(27, 27, 236);
}
.task h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-form{
    margin-bottom: 40px
}
.form-control label{
    display: block;
}
.form-control input{
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px
}
.form-control-check{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control-check label{
    flex: 1;
}
.form-control-check input{
    flex: 2;
    height: 20px;
}
footer{
    margin-top: 30px;
    text-align: center;
}

/* ++++DARK MODE++++ */
.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1pz solid #999;
    background-color: white;
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 999;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.t-icon{
   padding-top: 2px;
   width: 20px;
   height: 20px;
}
.t-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    cursor: pointer;
}